$white: #FFFFFF;

$grey: #969696;
$dark-grey: #5B5B5B;
$light-grey: #E8E8E8;

$red: #C9131A;
$bright-red: #FF0000;

$green: #68892E;
$bright-green: #7FD13B;

$light-blue: #EEF4F8;
$blue: #4BACC6;

$dark: #2D2D2D;