.c-grid {
  .c-panel {
    float: left;
    width: 300px;
    margin: 0 0 10px 10px;
  }
}

@supports (display: grid) {
  .c-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 10px;

    .c-panel {
      float: none;
      width: auto;
      margin: 0;
    }
  }
}
