.c-indicator {
  background-color: $white;
  border: 2px solid $light-grey;
  flex: 1;
  padding: 5px;
  position: relative;

  &__currency {
    font-size: $font-size-indicator-currency;
  }

  &__value {
    display: inline;

    &--normal, &--top {
      font-size: $font-size-indicator-value-normal;
    }
    
    &--large {
      font-size: $font-size-indicator-value-large;
      font-weight: 700;
    }

    &--top {
      vertical-align: super;
    }
  }
  
  &--sell, &--buy {
    &:before, &:after {
      border: solid transparent;
      content: " ";
      height: 10px;
      width: 10px;
      position: absolute;
      pointer-events: none;
    }
  }

  // Sell indicator modifiers
  &--sell {
    text-align: left;

    &:before, &:after {
      left: 100%;
    }

    &:after {
      border-color: transparent;
      border-left-color: $white;
      border-width: 20px;
      margin-top: -15px;
    }

    &:before {
      border-color: transparent;
      border-left-color: #e8e8e8;
      border-width: 23px;
      margin-top: -7px;
    }
  }

  &--sell-blur {
    color: $red;
  }

  &--sell-focus {
    color: $white;
    background-color: $bright-red;
    border: 2px solid $blue;

    &:after {
      border-left-color: $bright-red;
    }

    &:before {
      border-left-color: $blue;
    }
  }

  // Buy indicator modifiers
  &--buy {
    text-align: right;

    &:before, &:after {
      right: 100%;
    }

    &:after {
      border-color: transparent;
      border-right-color: $white;
      border-width: 20px;
      margin-top: -15px;
    }

    &:before {
      border-color: transparent;
      border-right-color: $light-grey;
      border-width: 23px;
      margin-top: -7px;
    }
  }

  &--buy-blur {
    color: $green;
  }

  &--buy-focus {
    color: $white;
    background-color: $bright-green;
    border: 2px solid $blue;

    &:after {
      border-right-color: $bright-green;
    }

    &:before {
      border-right-color: $blue;
    }
  }

  &--blur {
    color: $grey;
  }
}
