$triangle-border-width-before: 23px;
$triangle-border-width-after: 21px;
$triangle-margin-top-before: -23px;
$triangle-margin-top-after: -21px;

$side-position: 99%;

.c-indicator {
  background-color: $white;
  border: 2px solid $light-grey;
  border-radius: 6px;
  flex: 1;
  padding: 5px;
  position: relative;

  &__currency {
    font-size: $font-size-indicator-currency;
  }

  &__value {
    display: inline;

    &--normal, &--top {
      font-size: $font-size-indicator-value-normal;
    }
    
    &--large {
      font-size: $font-size-indicator-value-large;
      font-weight: 700;
    }

    &--top {
      vertical-align: super;
    }
  }
  
  &--sell, &--buy {
    &:before, &:after {
      border: solid transparent;
      content: " ";
      height: 10px;
      width: 10px;
      position: absolute;
      pointer-events: none;
      top: 40%;
    }
  }

  // Sell indicator modifiers
  &--sell {
    text-align: left;

    &:before, &:after {
      left: $side-position;
    }

    &:before {
      border-color: transparent;
      border-left-color: $light-grey;
      border-width: $triangle-border-width-before;
      margin-top: $triangle-margin-top-before;
    }

    &:after {
      border-color: transparent;
      border-left-color: $white;
      border-width: $triangle-border-width-after;
      margin-top: $triangle-margin-top-after;
    }
  }

  &--sell-blur {
    color: $red;
  }

  &--sell-focus {
    color: $white;
    background-color: $bright-red;
    border: 2px solid $blue;

    &:after {
      border-left-color: $bright-red;
    }

    &:before {
      border-left-color: $blue;
    }
  }

  // Buy indicator modifiers
  &--buy {
    text-align: right;

    &:before, &:after {
      right: $side-position;
    }

    &:before {
      border-color: transparent;
      border-right-color: $light-grey;
      border-width: $triangle-border-width-before;
      margin-top: $triangle-margin-top-before;
    }

    &:after {
      border-color: transparent;
      border-right-color: $white;
      border-width: $triangle-border-width-after;
      margin-top: $triangle-margin-top-after;
    }
  }

  &--buy-blur {
    color: $green;
  }

  &--buy-focus {
    color: $white;
    background-color: $bright-green;
    border: 2px solid $blue;

    &:after {
      border-right-color: $bright-green;
    }

    &:before {
      border-right-color: $blue;
    }
  }

  &--blur {
    color: $grey;
  }
}
